<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left"
        data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <!--li class="hidden-xs">
        <a data-ui-sref="home" class="m-l-10" data-ng-click="mactrl.sidebarStat($event)">
            <img src="/img/Optimus.png" alt="">
        </a>
    </li-->


    <nav class="ha-menu" data-ng-controller="sidebrCtrl">
        <ul>
            <li class="pull-left">
                <ul class="top-menu">
                    <li   class="dropdown" uib-dropdown=""><a  uib-dropdown-toggle="" href="" class="dropdown-toggle"
                                                               aria-haspopup="true" aria-expanded="false">
                        <i  class="tm-icon zmdi zmdi-globe-alt zmdi-hc-fw"></i>  {{getLang(lang)}} </a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li  class="hidden-xs">
                                <a class="custom-link" href="" ng-click="changeLang('heb')">
                                    עברית</a>
                            </li>
                            <li  class="hidden-xs">
                                <a class="custom-link" href="" ng-click="changeLang('en')">
                                    English</a>
                            </li>
                            <li class="hidden-xs">
                                <a class="custom-link" href="" ng-click="changeLang('arab')">
                                    عربيه</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li  class="waves-effect" ng-show="user.type == ''  || !user.type"  data-ui-sref-active="active">
                <a data-ui-sref="form.login"><i class="zmdi zmdi-square-right zmdi-hc-fw"></i>
                    {{translate('Login')}}</a>
            </li>
            <li class="waves-effect" data-ui-sref-active="active"  ng-show="user.type == ''  || !user.type">
                <a data-ui-sref="form.signup"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i>
                    {{translate('SignUp')}}</a>
            </li>
            <li class="waves-effect" data-ui-sref-active="active">
                <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i>
                    {{translate('Home')}}</a>
            </li>
            <li ng-show="false" class="waves-effect" data-ui-sref-active="active">
                <a data-ui-sref="shippers" data-ng-click="mactrl.sidebarStat($event)">For Shippers</a>
            </li>
            <li ng-show="false" class="waves-effect" data-ui-sref-active="active">
                <a data-ui-sref="carriers" data-ng-click="mactrl.sidebarStat($event)">For Carriers</a>
            </li>
            <li class="waves-effect" data-ui-sref-active="active" ng-show="user.type == 'Driver'">
                <a data-ui-sref="find_shipments" data-ng-click="mactrl.sidebarStat($event)">
                    {{translate('Find Shipments')}}</a>
            </li>
            <li class="waves-effect" data-ui-sref-active="active" ng-show="user.type == 'Customer'">
                <a data-ui-sref="new_order"><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i>
                    {{translate('New Shipment')}}</a>
            </li>
            <li ng-show="user.type == '' || !user.type" class="waves-effect" data-ui-sref-active="active">
                <a data-ui-sref="about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i>
                    {{translate('About Us')}}</a>
            </li>
            <li  class="waves-effect" data-ui-sref-active="active"
                ng-show="false">
                <a href="/mobile_navigator"><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i> Driver Mobile Site</a>
            </li>
            <li ng-show="false" class="waves-effect" data-ui-sref-active="active">
                <a data-ui-sref="private_zone"><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i> Personal Zone</a>
            </li>

            <li ng-show="false" class="waves-effect" data-ui-sref-active="active" ng-show="user.name != 'Guest'">
                <a data-ui-sref="new_order_dialog"><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i>New Order
                    Wizard</a>
            </li>
            <li class="pull-right">
                <ul class="top-menu">





                    <li ng-show="user.type != ''  && user.type"  class="dropdown" uib-dropdown=""><a uib-dropdown-toggle="" href="" class="dropdown-toggle"
                                                            aria-haspopup="true" aria-expanded="false">
                        <i class="tm-icon zmdi zmdi-account zmdi-hc-fw"></i>  {{getUserName(user)}} </a>
                        <ul class="dropdown-menu dm-icon pull-right">

                            <li  class="hidden-xs"><a data-ng-click="signout()" href="">
                                {{translate('Sign Out')}}</a></li>
                            <li class="divider hidden-xs"></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</ul>

<!-- Top Search Content -->
<!--div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <input type="text">
    </div>
</div-->
