<div class="sidebar-inner c-overflow">
    <div class="profile-menu" ng-show="false">
        <a href="" toggle-submenu>
            <div class="profile-pic">

            </div>

            <div class="profile-info">
                Welcome {{uer.name}}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i
                        class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>

        </ul>
    </div>

    <ul class="main-menu" data-ng-controller="sidebrCtrl" >

        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i>
                {{translate('Home')}}</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="form.login"><i class="zmdi zmdi-square-right zmdi-hc-fw"></i>
                {{translate('Login')}}</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="form.signup"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i>
                {{translate('SignUp')}}</a>
        </li>
        <li data-ui-sref-active="active">
            <a class="custom-link" href="" ng-click="signout()">
                <img src="/img/logout.png" class="custom-icon">{{translate('Logout')}}</a>
        </li>

        <li data-ui-sref-active="active" ng-show="false" >
            <a href="/mobile_navigator" ><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i> Driver Mobile Site</a>
        </li>
        <li data-ui-sref-active="active" ng-show="false" >
            <a data-ui-sref="private_zone" ><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i> Personal Zone</a>
        </li>
        <li  data-ui-sref-active="active" ng-show="false" >
            <a data-ui-sref="new_order" ><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i>New Order</a>
        </li>
        <li  data-ui-sref-active="active" ng-show="false" >
            <a data-ui-sref="new_order_dialog" ><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i>New Order Wizard</a>
        </li>
    </ul>
</div>
