<header id="header-2" data-current-skin="blue" data-ng-include src="'template/header.html'"
        data-ng-controller="headerCtrl as hctrl"></header>
<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
       data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

<style>



</style>
<div data-ng-controller="InfoForShippersCtrl as tctrl">
    <section>
        <div class="card">
            <div class="card-header"></div>

        </div>
        <div class="card" >
            <div class="listview lv-bordered lv-lg">
                <div class="lv-header-alt clearfix">
                    <h2 class="lvh-label hidden-xs">Info For Shippers</h2>

                    <!-- ngIf: mactrl.listviewSearchStat -->


                </div>

              <div class="card-body">
              </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header bgm-cyan">
                        <h2>Shippers
                            <small></small>
                        </h2>


                    </div>

                    <div class="card-body card-padding">
                        <div class="listview lv-bordered lv-lg">
                            <div class="lv-header-alt clearfix">
                                <h2 class="lvh-label hidden-xs"></h2>

                                <!-- ngIf: mactrl.listviewSearchStat -->

                                <ul class="lv-actions actions">


                                </ul>
                            </div>

                            <div class="lv-body">


                                <div class="lv-item media">

                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Access To Trucks</div>
                                        <small class="lv-small"></small>


                                    </div>


                                </div>
                                <div class="lv-item media">

                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/1.jpg" alt="">
                                    </div>

                                    <div class="media-body">
                                        <div class="lv-title">GPS Tracking</div>
                                        <small class="lv-small"></small>


                                    </div>

                                </div>
                                <div class="lv-item media">

                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/1.jpg" alt="">
                                    </div>

                                    <div class="media-body">
                                        <div class="lv-title">Instant PODs</div>
                                        <small class="lv-small"></small>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header bgm-orange">
                        <h2>Carriers
                            <small></small>
                        </h2>


                    </div>

                    <div class="card-body card-padding">
                        <div class="listview lv-bordered lv-lg">
                            <div class="lv-header-alt clearfix">
                                <h2 class="lvh-label hidden-xs"></h2>

                                <!-- ngIf: mactrl.listviewSearchStat -->

                                <ul class="lv-actions actions">


                                </ul>
                            </div>

                            <div class="lv-body">


                                <div class="lv-item media">

                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Extra Shipments</div>
                                        <small class="lv-small"></small>


                                    </div>


                                </div>
                                <div class="lv-item media">

                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/1.jpg" alt="">
                                    </div>

                                    <div class="media-body">
                                        <div class="lv-title">Track Your Trucks</div>
                                        <small class="lv-small"></small>

                                        <div class="lv-actions actions dropdown" uib-dropdown="">
                                            <a href="" uib-dropdown-toggle="" aria-expanded="false"
                                               class="dropdown-toggle" aria-haspopup="true">
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>


                                        </div>
                                    </div>

                                </div>
                                <div class="lv-item media">

                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="/img/profile-pics/1.jpg" alt="">
                                    </div>

                                    <div class="media-body">
                                        <div class="lv-title">Fast Payment</div>
                                        <small class="lv-small"></small>

                                        <div class="lv-actions actions dropdown" uib-dropdown="">
                                            <a href="" uib-dropdown-toggle="" aria-expanded="false"
                                               class="dropdown-toggle" aria-haspopup="true">
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
