<header style="{{getDirection()}}" id="header" data-current-skin="blue" data-ng-include src="'template/header.html'"
        data-ng-controller="headerCtrl as hctrl"></header>
<aside style="{{getDirection()}}" id="sidebar" data-ng-include="'template/sidebar-left.html'"
       data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

<style>


    #map1 {
        position: absolute !important;
        width: 100% !important;
    }

    .margin {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .card.narrow_buttom {
        margin-bottom: 5px;
    }

    .container.narrow_left {
        margin-left: 0px;
    }

    .container.narrow_top {
        margin-top: 5%;
    }

    .hebrew_form {
        float: right;
    }

    .transparent_button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
</style>

<div style="{{getDirection()}}" data-ng-controller="newOrderCtrl as octrl" style="width: 100%;height: 100%">
    <section id="map1" ng-style="mapStyle"></section>


    <div class="container narrow_left narrow_top" id="form_container">
        <div class="row">

            <div class="col-sm-6" style="{{formDirection()}}">
                <div class="card narrow_buttom">
                    <div class="card-header ch-alt" style="background-color: #536268;">
                        <h2 style="color: white;">{{translate('Route')}}</h2>
                    </div>

                    <div class="card-body card-padding">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="fg-line">
                                        <!--label>{{translate('Source Address')}}</label-->
                                        <input id="autocomplete" placeholder="{{translate('Enter Source address')}}"
                                               class="form-control input-lg"
                                               ng-change="geolocate('source')" ng-model="addressQuery" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="fg-line">
                                        <!--label>{{translate('Destination Address')}}</label-->
                                        <input id="autocomplete1" class="form-control input-lg"
                                               placeholder="{{translate('Enter Destination address')}}"
                                               ng-change="geolocate('destination')" ng-model="addressQuery1"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card narrow_buttom">
                    <div class="card-header ch-alt" style="background-color: #536268;">
                        <h2 style="color: white;">{{translate('Load Details')}} </h2>
                    </div>

                    <div class="card-body card-padding">
                        <div class="form-group fg-line">
                            <button class="btn bgm-lightblue waves-effect" ng-click="addItemToArr(order.pallet_types)">
                                {{translate('Pallets')}}
                            </button>
                            <button class="btn bgm-deeporange waves-effect" ng-click="addItemToArr(order.box_types)">
                                {{translate('Boxes')}}
                            </button>
                            <button class="btn bgm-indigo waves-effect" ng-click="truck_load=!truck_load">
                                {{translate('Truckload')}}
                            </button>
                        </div>
                        <div class="row" ng-show="false">
                            <div class="col-xs-3">
                                <div class="fg-line form-group">
                                    <label> {{translate('Weight in KG')}}</label>
                                    <input type="number" ng-init="order.weight=0"
                                           ng-model="order.weight" class="form-control input-sm"
                                           placeholder="{{translate('Weight')}}">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="pallete_type in order.pallet_types track by $index">
                            <div class="col-xs-2">
                                <button class="transparent_button"
                                        ng-click="remove_obj_from_arr(pallete_type, order.pallet_types )">
                                    <i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i>
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <div class="fg-line form-group">
                                    <label>{{translate('Pallets')}}</label>
                                    <input type="number"
                                           ng-model="pallete_type.pallets_count" class="form-control input-sm"
                                           placeholder="{{translate('number of pallets')}}">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="fg-line form-group">
                                    <label>{{translate('L cm')}}</label>
                                    <input type="number" ng-init="pallete_type.pallet_length=40"
                                           ng-model="pallete_type.pallet_length"
                                           class="form-control input-sm"
                                           placeholder="{{translate('Length')}}">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="fg-line form-group">
                                    <label>{{translate('W cm')}}</label>
                                    <input type="number" ng-model="pallete_type.width" ng-init="pallete_type.width=40"
                                           class="form-control input-sm"
                                           placeholder="{{translate('Width')}}">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="fg-line form-group">
                                    <label>{{translate('H cm')}}</label>
                                    <input type="number" ng-model="pallete_type.height" class="form-control input-sm"
                                           ng-init="pallete_type.height=60" placeholder="{{translate('Height')}}">
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="box_type in order.box_types track by $index" class="row">
                            <div class="col-xs-2">
                                <button class="transparent_button"
                                        ng-click="remove_obj_from_arr(box_type, order.box_types )">
                                    <i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i>
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <div class="fg-line form-group">
                                    <label>{{translate('Boxes')}}</label>
                                    <input type="number" ng-init="box_type.boxes_count=0"
                                           ng-model="box_type.boxes_count" class="form-control input-sm"
                                           placeholder="{{translate('number of Boxes')}}">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="fg-line form-group">
                                    <label>{{translate('L cm')}}</label>
                                    <input type="number" ng-init="box_type.boxes_length=0"
                                           ng-model="box_type.boxes_length"
                                           class="form-control input-sm" placeholder="{{translate('Length')}}">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="fg-line form-group">
                                    <label>{{translate('W cm')}}</label>
                                    <input type="number" ng-model="box_type.boxes_width"
                                           ng-init="box_type.boxes_width=0"
                                           class="form-control input-sm" placeholder="{{translate('Width')}}">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="fg-line form-group">
                                    <label>{{translate('H cm')}}</label>
                                    <input type="number" ng-model="box_type.boxes_height" class="form-control input-sm"
                                           ng-init="box_type.boxes_height=0" placeholder="{{translate('Height')}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="{{getTruckLoadClass()}}">
                                        <!--label>{{translate('Destination Address')}}</label-->
                                        <input class="form-control input-lg "
                                               placeholder="{{truckLoadMessage()}}"
                                               ng-model="order.description"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card narrow_buttom">
                    <div class="card-header ch-alt" style="background-color: #536268;">
                        <h2 style="color: white;">{{translate('Scheduling')}} </h2>
                    </div>

                    <div class="card-body card-padding">
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <h2>
                                    <label>{{translate('Pickup')}}</label>
                                </h2>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-4">
                                <div class="fg-line form-group">
                                    <label>{{translate('Pick Up Time')}} </label>
                                    <input id="pickup_time" ng-model="order.pickup_hour"
                                           type="text" class="time ui-timepicker-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="fg-line form-group">
                                    <label>{{translate('Pickup')}}</label>
                                    <input ng-model="order.pickup_time" type="date"
                                           class="form-control input-sm"
                                           placeholder="{{translate('Pickup Day')}}">
                                </div>
                            </div>

                        </div>
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <h2>
                                    <label>{{translate('Delivery')}}</label>
                                </h2>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-4">
                                <div class="fg-line form-group">
                                    <label>{{translate('Delivery Time')}} </label>

                                    <input id="delivery_time" ng-model="order.delivery_hour"
                                           type="text" class="time ui-timepicker-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="fg-line form-group">
                                    <label>{{translate('Delivery')}}</label>

                                    <input ng-model="order.delivery_time" type="date"
                                           class="form-control input-sm">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card narrow_buttom">
                    <div class="card-header ch-alt" style="background-color: #536268;">
                        <h2 style="color: white;">{{translate('Payment Method')}} </h2>
                    </div>

                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="fg-line form-group">
                                    <div class="btn-group">
                                        <label class="btn btn-primary"
                                               ng-Style="paymaentMethodStyle('fixedPrice')"
                                               ng-model="order.payment_method.fixedPrice"
                                               uib-btn-checkbox ng-click="paymentMethod('fixedPrice')">{{translate('Fixed
                                            Price')}}</label>
                                        <label class="btn btn-primary"
                                               ng-model="order.payment_method.bid"
                                               ng-Style="paymaentMethodStyle('bid')"
                                               uib-btn-checkbox
                                               ng-click="paymentMethod('bid')">{{translate('bid')}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="order.payment_method.fixedPrice">
                            <div class="col-xs-12">
                                <div class="fg-line form-group">
                                    <input
                                            placeholder="{{translate('Please Enter Desired Price')}}"
                                            class="form-control input-lg"
                                            ng-model="order.fixed_price" type="number">
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-xs-12">
                                <div class="radio m-b-15">
                                    <label>
                                        {{translate('Credit Card')}}
                                        <input type="radio" name="sample"   ng-model="order.credit" ng-value="true">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>

                                <div class="radio m-b-15">
                                    <label>
                                        {{translate('Pay Directly to Carrier')}}
                                        <input type="radio" name="sample"   ng-model="order.credit"  ng-value="false">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card narrow_buttom">
                    <div class="card-header ch-alt" style="background-color: #536268;">
                        <h2 style="color: white;">{{translate('Contact Info')}}</h2>
                    </div>

                    <div class="card-body card-padding">

                        <div class="row">
                            <div class="col-xs-12">
                                <form>

                                    <div class="form-group">
                                        <div class="fg-line">
                                            <!--label>{{translate('Contact Info')}}</label-->
                                            <input placeholder="{{translate('Contact Info')}}"
                                                   class="form-control input-lg"
                                                   ng-model="order.contact_info" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card narrow_buttom">
                    <div class="card-header ch-alt" style="background-color: #536268;">
                        <h2 style="color: white;">{{translate('Submit Shipment')}}</h2>
                    </div>

                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-xs-12">
                                <form>
                                    <div class="form-group">
                                        <button class="btn bgm-blue waves-effect"
                                                ng-click="submit_order()">
                                            {{translate('Submit Shipment')}}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


