



<div style="{{getDirection()}}" class="container" data-ng-controller="signUpCtrl as sctrl" >
    <div class="block-header">
        <h2>Sign Up</h2>

    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>Sign Up User
                    </small></h2>
            </div>

            <div class="card-body card-padding">
                <form role="form">
                    <div class="form-group fg-line">
                        <table>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="user.type"
                                                   ng-true-value="'Customer'" ng-false-value="'Driver'" >
                                            <i class="input-helper"></i>
                                            I Am A Shipper
                                        </label>
                                    </div>
                                </td>
                                <td style="padding-left: 20px;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"ng-model="user.type"
                                                   ng-true-value="'Driver'" ng-false-value="'Customer'" >
                                            <i class="input-helper"></i>
                                            I Am A Carrier
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group fg-line">
                        <label >Email address</label>
                        <input ng-model="user.email" type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group fg-line">
                        <label >Name</label>
                        <input ng-model="user.name" type="text" class="form-control input-sm"  placeholder="Enter name">
                    </div>
                    <div class="form-group fg-line">
                        <label>Password</label>
                        <input ng-model="user.password" type="password" class="form-control input-sm"
                               placeholder="Password">
                    </div>
                    <div class="form-group fg-line">
                        <label >Password Confirmation</label>
                        <input ng-model="user.password_confirmation" type="password" class="form-control input-sm"
                               placeholder="Password Confirmation">
                    </div>


                    <button ng-click="sign_up_user()" type="submit" class="btn btn-primary btn-sm m-t-10">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>





</div>
